.project
.metadata
.setting
.settings
*~
#*
\#*
.#*
*BAK
*.swp
TMP*cdf
*.ps
*.eps
*.png
*.PNG
*.gif
*.pdf
tmp
*.zip
*.tplot
*.cdf
.DS_Store
.vscode/
.ipynb_checkpoints
__pycache__/
erg_data/
!ergpyspedas/erg/satellite/erg/wave/isee_wave/assets/images/arase_logo.png
